.shopping-card-list {
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    width: 70%;
}

.shopping-card-list > h1 {
    padding: 16px 32px;
    border-bottom: 1px solid black;
}

.shopping-card-list__row {
    border-bottom: 1px solid black;
    display: flex;
}