:root {
    --light-grey: #c6c6c6;
    --dark-grey: #393939;
    --darker-grey: #383636;
    --flashy-red: #da1e28;
    --normal-grey: #8d8d8d;
    --light-blue: #2b6fc9;
    --light-green: #42BE65;
}